#image-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

#editor-container {
  width: 100%;
}

#uploaded-img {
  display: flex;
}

#text-area {
  width: 200px;
  position: absolute;
  z-index: 100;
}

.mark {
  padding: 10px 5px;
  background-color: #d3d3d3;
  color: #ff0000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1pt;
  max-width: 250px;
}
